/*-- iPhone X Remove Gutters --*/
/* html {
  padding: env(safe-area-inset);
} */

html,
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  /* background-color: cyan; */
}

.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*============= NAVIGATION =============*/

.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  font-size: 1.3rem;
  transition: background-color .5s ease;
}

.navbar-nav li {
  padding-right: .8rem;
}

.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: rgba(250, 114, 3, 0.979);
}

.custom-toggler-icon {
  color: white;
  font-size: 1.6rem;
}

.navbar.solid,
.navbar.solid-toggle {
  background: rgba(0, 0, 0, .7) !important;
  transition: background-color 1s ease;
}

/*-- Remove Button Outline --*/

button:focus,
a:focus,
a.btn:focus {
  outline: 0;
  -webkit-appearance: none;
  box-shadow: none;
  transition: all .6s ease;
}

button,
a,
a.btn,
.svg-inline--fa {
  transition: all .6s ease;
}


/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: 5;
  background-color: rgba(0, 0, 0, .7);
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.home-inner {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../img/home_img.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  display: table;
}


/*-- Landing Page Caption --*/


.caption {
  z-index: 30;
  position: absolute;
  top: 38%;
  width: 100%;
  max-width: 100%;
}

.caption h1 {
  font-size: 4rem;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 0.8rem;
}

.caption-underline {
  width: 27rem;
  height: .1rem;
  background-color: rgba(250, 114, 3, 0.979);
  margin: 0 auto;
}


/*-- Bouncing Down Arrow --*/

.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
}

.down-arrow .svg-inline--fa {
  color: rgba(250, 114, 3, 0.979);
  font-size: 2.2rem;

  opacity: .7;
}

.down-arrow .svg-inline--fa:hover {
  color: black;
}


/*-- heading --*/

.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: rgba(250, 114, 3, 0.979);
  margin: 0 auto 2rem;
}


/*============= google maps =============*/

.iframe {
  width: 100%;
  height: 300px;
}


/*============= OUR SERVICES SECTION =============*/
/* .fixed {
  position: relative;
  width: 100%;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}

.fixed-dark {
  background-image: url('../img/dark-img.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  display: table;
}

.dark {
  background-color: rgba(0, 0, 0, .6);
  padding: 7rem 0;
  z-index: 1000;
} */
 






.fixed {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -9999;
}
.fixed-dark {
  background-image: url('../img/dark-img.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  display: table;
}
.dark {
  background-color: rgba(0, 0, 0, .7);
  padding: 7rem 0;
  z-index: 1000;
}






.services-column {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.075);
  transition: transform .7s ease;
  overflow: hidden;
  position: relative;
}

.services-column:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgba(250, 114, 3, 0.979);
}

.services-column p {
  opacity: .8;
  margin-top: 1.3rem;
}

.services-column h4 {
  font-size: 1.1rem;
  padding: .4rem;
}

.services-column .item {
  font-weight: 700;
}






/*============= profil-img  =============*/


.profil-img {
  background-image: url('../img/yoni.jpg');
  background-size: cover;
  position: relative;
  width: 300px;
  height: 300px;
  align-items: center;
}


.modal-header {
  text-align: center;
}


/*=============  tel =============*/


.click-to-call {
  font-size: 1.7rem;
  color: rgba(250, 114, 3, 0.979);
}

.click-to-call:hover {

  color: black;
}


/*=============  two boxs columns =============*/

.two-boxs-columns {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 .8rem  rgba(0, 0, 0, 0.075);
  transition: transform .7s ease;
  overflow: hidden;
  position: relative;
}

.two-boxs-columns p {
  opacity: .8;
  margin-top: 1.3rem;
}

.two-boxs-columns h4 {
  font-size: 1.1rem;
  padding: .4rem;
}

.two-boxs-columns .item {
  font-weight: 700;
}


/*============= gallery heading
  =============*/
  gallery-heading

  .gallery-heading{
    padding-top: 125px;
    padding-bottom: 80px;
  }


/*============= footer  =============*/


.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: whitesmoke;
}


.site-footer h6 {
  color: rgba(250, 114, 3, 0.979);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}



/*============= icons  =============*/


.icons {
  margin: auto;
  list-style: none;
}


.icons a {
  background-color: #00000081;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}


.icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.icons a:active,
.icons a:focus,
.icons a:hover {
  color: #fff;
}

.icons a.facebook:hover {
  background-color: #3b5998
}

.icons a.linkedin:hover {
  background-color: #007bb6
}

.icons a.mail:hover {
  background-color: red;
}

.icons a.waze:hover {
  background-color: #016e8f;

}

.icons a.phone:hover {
  background-color: #20571f;

}








.modal-header .ggggg{
  text-align: center !important;
  background-color: cyan;
}


.modal-body{

  background-color: chocolate;
}



/*============= teem  =============*/


.h6-color{
  text-align: center;
  color: rgba(250, 114, 3, 0.979);

}
.card{

  margin: 30px;

  box-shadow: 0 0 .8rem  rgba(0, 0, 0, 0.158);
  transition: transform .7s ease;
  overflow: hidden;
  position: relative;
}

.card:hover{

  transform: scale(1.1);

}


.yyyy{
  z-index: 3;
}




























.fixed-light {
  background-image: url('/img/dark-img.jpg');
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
  top: 0;
  left: 0;
  display: table;
}
.light {
  /* background-color: rgba(255, 255, 255, .75); */
  padding: 5rem 0;
  z-index: 1000;
}
.owl-stage {
  display: flex;
}
.card {
  height: 100%;
  border-radius: 0;
  text-align: center;
  margin: 0 1rem;
  border: .1rem solid rgba(0, 0, 0, .075);
  box-shadow: 0 0 .8rem rgba(0, 0, 0, .075);
  transition: transform .4s ease;
}
.card:hover {
  transform: scale(.95);
}
button.owl-dot.active span,
button.owl-dot:hover span {
  background: #1EBBA3!important;
}
ul.social {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
ul.social li {
  display: inline;
  padding-right: .8rem;
}
ul.social li a {
  color: #1EBBA3;
  transition: all .2s ease;
}
ul.social li a:hover {
  color: #505962;
}




